#deposit-btn {
  background-color: #0ff166;
  border: 6px solid #0ff166;
  border-radius: 10px;
  width: 150px;
}

#cashback-btn {
  background-color: #0c80f3;
  border: 6px solid #0ff166;
  border-radius: 10px;
  width: 150px;
}

.main-app {
  width: 500px;
  height: 800px;
  border: solid black 3px;
  border-radius: 10px;
  background-color: #ddd;
  margin-top: 10px;
  margin-left: 10px;
}

.header {
  background-color: #999;

  width: 50%;
  margin: auto;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.screen {
  background-color: aqua;
  width: 90%;
  border: solid black 3px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#alert-space {
  padding: 70px 20px 20px 20px;
  color: red;
  font-size: 1.2em;
}
.hardware {
  display: flex;
  align-items: start;
}
.card-slot {
  margin-top: 40px;
  margin-left: 24px;
  padding: 12px 32px 20px 20px;
  border: solid black 3px;
  border-radius: 10px;
}
.slit {
  margin-top: 10px;
  margin-left: 10px;
  padding: 1px 70px 1px 1px;
  border: solid black 3px;
  border-radius: 5px;
}

.pad {
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 9px 15px 0px 15px;
  border: solid black 3px;
  border-radius: 10px;
}

.square {
  margin-right: 2px;
  padding: 1px 8px 3px 3px;
  font-size: 0.5em;
  border: solid black 2px;
  border-radius: 5px;
}
.cash-slot {
  margin-top: 40px;
  margin-right: 20px;
  padding: 20px 125px 30px 20px;
  border: solid black 3px;
  border-radius: 10px;
}
